.frstwebsite{
  text-align:center;
  color: acqua;
}
.myfavouritevideogames{
    text-align:center;
  color: acqua;
}
.scnwebsite{
  text-align:center;
  color: darkorange;
}
.adayinmylife{
  text-align:center;
  color: darkorange; 
}
.thrwebsite{
text-align:center;
color: lightblue;  
}
.robloxers{
text-align:center;
color: lightblue; 
}
.frthwebsite{
text-align:center;
  color: navy;
}
.geometrydash{
text-align:center;
  color: navy;
}
